body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	font-size:12px;
	-epub-hyphens:auto;
}
p.No-Paragraph-Style {
	color:#231f20;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.SHLOKA {
	color:#231f20;
	font-family:"SH Regular", sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:6px;
	margin-left:14px;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.STAR {
	color:#231f20;
	font-family:"SH Regular", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.BODYTEXT {
	color:#231f20;
	font-family:"SH Regular", sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.SUB {
	color:#231f20;
	font-family:"SH Regular", sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.Body-text {
	color:#231f20;
	font-family:"SH Regular", sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.FREAM {
	-epub-hyphens:none;
	color:#231f20;
	font-family:"SH Regular", sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	margin-top:6px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.SAN-TEXT {
	color:#231f20;
	font-family:"SH Regular", sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.para-style-override-1 {
	font-size:40px;
	text-align:center;
}
p.para-style-override-2 {
	font-size:20px;
	text-align:center;
}
p.para-style-override-3 {
	text-align:center;
}
p.para-style-override-4 {
	margin-bottom:3px;
	text-align:center;
}
p.para-style-override-5 {
	font-family:SH, sans-serif;
	font-size:16px;
	font-style:normal;
	font-weight:normal;
	margin-bottom:9px;
	text-align:center;
}
p.para-style-override-6 {
	font-family:SH, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-7 {
	margin-right:0px;
	margin-top:0px;
}
p.para-style-override-8 {
	margin-bottom:11px;
}
p.para-style-override-9 {
	margin-bottom:9px;
}
p.para-style-override-10 {
	font-family:SH, sans-serif;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-11 {
	-epub-hyphens:none;
	margin-bottom:9px;
}
p.para-style-override-12 {
	margin-bottom:6px;
}
p.para-style-override-13 {
	font-family:SH, sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-14 {
	font-family:SH, sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
	margin-bottom:6px;
	text-align:justify;
}
p.para-style-override-15 {
	font-family:SH, sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
	margin-bottom:9px;
	text-align:center;
}
p.para-style-override-16 {
	margin-bottom:14px;
	text-align:center;
}
p.para-style-override-17 {
	margin-left:28px;
	margin-right:28px;
}
p.para-style-override-18 {
	font-size:14px;
	margin-bottom:0px;
}
p.para-style-override-19 {
	margin-bottom:0px;
	text-align:left;
}
p.para-style-override-20 {
	margin-bottom:3px;
}
p.para-style-override-21 {
	margin-bottom:10px;
}
p.para-style-override-22 {
	margin-bottom:7px;
}
p.para-style-override-23 {
	margin-bottom:1px;
}
p.para-style-override-24 {
	margin-bottom:0px;
}
p.para-style-override-25 {
	margin-bottom:14px;
}
p.para-style-override-26 {
	font-size:14px;
}
p.para-style-override-27 {
	margin-bottom:3px;
	text-align:left;
}
p.para-style-override-28 {
	margin-bottom:4px;
	margin-left:14px;
	margin-right:14px;
}
p.para-style-override-29 {
	margin-left:14px;
	margin-right:14px;
}
p.para-style-override-30 {
	margin-bottom:7px;
	margin-left:14px;
	margin-right:14px;
}
p.para-style-override-31 {
	margin-left:57px;
}
p.para-style-override-32 {
	font-size:30px;
	text-align:right;
}
p.para-style-override-33 {
	font-family:SH, sans-serif;
	font-size:16px;
	font-style:normal;
	font-weight:normal;
	margin-bottom:6px;
	text-align:center;
}
p.para-style-override-34 {
	font-size:18px;
	margin-left:71px;
	text-align:left;
}
span.char-style-override-1 {
	font-family:SH, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-2 {
	font-family:SH, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-3 {
	font-family:"Times Roman", sans-serif;
	font-size:19px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-4 {
	font-size:20px;
}
span.char-style-override-5 {
	font-size:17px;
}
span.char-style-override-6 {
	font-size:13px;
}
span.char-style-override-7 {
	font-family:SH, sans-serif;
	font-size:15px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-8 {
	font-family:SH, sans-serif;
	font-size:16px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-9 {
	text-transform:uppercase;
}
span.char-style-override-10 {
	font-family:SH, sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-11 {
	font-family:"SH Bold", sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-12 {
	font-family:SH, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-13 {
	font-family:SH, sans-serif;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
}
span.char-style-override-14 {
	font-family:SH, sans-serif;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.char-style-override-15 {
	font-family:SH, sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-16 {
	font-family:"Times Bold", sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-17 {
	font-size:14px;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-18 {
	font-size:12px;
}
span.char-style-override-19 {
	font-family:"SH Bold", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-20 {
	font-family:"Times Roman", sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-21 {
	font-family:"Times Bold", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-22 {
	font-family:"Times Roman", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-23 {
	font-size:14px;
}
span.char-style-override-24 {
	font-size:19px;
}
span.char-style-override-25 {
	font-size:15px;
}
span.char-style-override-26 {
	font-size:16px;
}
span.char-style-override-27 {
	font-family:"Times Roman", sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
}
img.frame-1 {
	height:343px;
	width:253px;
}
div.frame-2 {
	margin:0px auto 0px auto;
	text-align:center;
}
img.frame-3 {
	height:328px;
	width:236px;
}
img.frame-4 {
	height:320px;
	width:222px;
}
